<h4 class="mb-3">Categorias:</h4>
<div class="d-flex flex-column gap-2">
  {{#each categorias}}
   <div class="categoria-item mb-2">
  <a href="/categorias/{{slug}}" class="categoria-chip d-flex align-items-center justify-content-between">
    <span>{{nome}}</span>
    <i class="bi bi-arrow-right-circle"></i>
  </a>
</div>
  {{/each}}
</div>








